<div class="actions clearfix">
    <div class="discuss">
        <a href="/discuss"><img src="img/icons/discuss.svg" alt=""><span class="new"></span></a>
    </div>
    <div class="forme">
        <a href="/around"><img src="img/icons/menu.svg" alt=""></a>
    </div>
    <div class="send">
        <img src="img/icons/send.svg" alt="">
    </div>
</div>
