<section class="send-msg is-hidden" id="send-msg">

    <div class="cross is-hidden" id="close">
        <span></span>
    </div>

    <form action="#" method="post" id="form-msg">
        <label for="msg-type">Votre message</label>
        <textarea name="msg-type" id="msg-type" tabindex="0"></textarea>
        <input type="submit" value="Envoyer">
    </form>
</section>
