<div class="cross" id="closeMenu">
    <span></span>
</div>
<div class="wrap-menu" id="menu">
    <div class="clearfix">
        <div class="meteo">
            <span>21</span><sup>C</sup>
        </div>
        <div class="date">
            <div class="day">Friday</div>
            <div class="month">16 September</div>
        </div>
    </div>
    <nav>
        <ul class="clearfix">
            <img class="me" src="assets/img/profil/me.jpg" alt="Your photo">
            <li><a href="#/">My Profile</a></li>
            <li><a href="#/">Analytics</a></li>
            <li class="separate"></li>
            <li class="is-current"><a href="#/">Discover</a></li>
            <li><a href="#/">Around me</a></li>
            <li><a href="#/">Settings</a></li>
            <li class="separate"></li>
            <li><a href="#/" class="new">news</a></li>
        </ul>
    </nav>
</div>
