<section class="peoples">
    <div class="aroundme">
        <a href="#"><img src="img/icons/aroundme.svg" alt=""></a>
    </div>
    <div class="city">sacramento, us</div>
    <div class="radius">radius of 20 km</div>

    <ul class="list_peoples clearfix">
        <li>
            <a href="profil" data-direction="bottom">
                <img src="img/people/one.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/people/two.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/people/three.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/people/four.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/people/five.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/people/six.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/people/one.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/people/two.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/people/three.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/people/four.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/people/five.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/people/six.jpg" alt="">
                <p>jean <span>archers</span></p>
                <div class="radius">2.3 km away</div>
            </a>
        </li>
    </ul>

    <div id="more_users" class="more">
        <a href="#">
            search for more
            <img src="img/icons/refresh.svg" alt="">
        </a>
    </div>

    <%- include('partials/navigation_secondary') %>
</section>
