<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Nerdial Inspiration</title>
        <link rel="stylesheet" href="assets/css/screen.css">
        <meta name="viewport" content="initial-scale=1">
    </head>
    <body>
        <section class="menu">
            <div class="cross" id="closeMenu">
                <span></span>
            </div>
            <div class="wrap-menu" id="menu">
                <div class="clearfix">
                    <div class="meteo">
                        <span>21</span><sup>C</sup>
                    </div>
                    <div class="date">
                        <div class="day">Friday</div>
                        <div class="month">16 September</div>
                    </div>
                </div>
                <nav>
                    <ul class="clearfix">
                        <img class="me" src="assets/img/profil/me.jpg" alt="Your photo">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Analytics</a></li>
                        <li class="separate"></li>
                        <li class="is-current"><a href="#">Discover</a></li>
                        <li><a href="#">Around me</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="separate"></li>
                        <li><a href="#" class="new">news</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <section class="content" id="content">
            <!-- <div class="burger invert" id="burger">
                <span></span>
            </div> -->
            <div class="overlay" id="overlay"></div>


            <section class="others_profil">
                
            </section>
        </section>
    </body>
    <script src="app.js"></script>
</html>
