<section class="log">
    <div class="overlay">
        <div class="wrap fadein">
            <div class="cross">
                <span></span>
            </div>

            <div class="logo">
                <img src="img/login/logo.svg" alt="">
            </div>

            <form class="login" action="" id="login">
                <div class="control_field">
                    <input type="text" value="yourname@adress.com" onclick="this.select();">
                </div>

                <div class="control_field">
                    <input type="password" value="password" onclick="this.select();">
                </div>
                <input type="submit" value="break in">
                <a href="#">Forgort password ?</a>
            </form>

            <div class="invite">
                <a href="#">get an invite</a>
            </div>
        </div>
    </div>
</section>
