<section class="others_profil" id="otherProfil">

    <%- include('partials/actions') %>

    <div class="other_profil">
        <div id="other_profil">
            <div class="firstname">Jean <span class="status work"></span></div>
            <div class="lastname">Archers <span id="heart" class="heart full"><img src="img/icons/heart.svg" alt=""></span></div>
            <div class="litle_descri">28, Wedding Photographer</div>
            <p class="litle_about">
                I am the best photographer around the world oh yes,
                I love Sacramento, my wife and my two kids.
            </p>
        </div>
        <section id="location" class="location">
            <div class="close" id="close">
                <span></span>
            </div>
            <header>
                <img src="img/icons/location_mini.svg" alt="" />
                <div class="city">sacramento, us</div>
                <div class="distance">2.3 km away</div>
            </header>
            <div class="map" id="map">
            </div>
            <footer>
                <a href="#">go to google maps</a>
            </footer>
            <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
            <script type="text/javascript" src="js/locationProfil.js"></script>
        </section>
    </div>

</section>
