            <section class="others_profil">
                <div class="actions clearfix">
                    <div class="discuss">
                        <a href="chat.html"><img src="assets/img/icons/discuss.svg" alt=""><span class="new"></span></a>
                    </div>
                    <div class="forme">
                        <a href="people.html"><img src="assets/img/icons/menu.svg" alt=""></a>
                    </div>
                    <div class="send">
                        <img src="assets/img/icons/send.svg" alt="">
                    </div>
                </div>

                <div class="other_profil">
                    <div id="other_profil">
                        <div class="firstname">Jean <span class="status work"></span></div>
                        <div class="lastname">Archers <span class="heart full"><img src="assets/img/icons/heart.svg" alt=""></span></div>
                        <div class="litle_descri">28, Wedding Photographer</div>
                        <p class="litle_about">
                            I am the best photographer around the world oh yes,
                            I love Sacramento, my wife and my two kids.
                        </p>
                    </div>
                    <section id="location" class="location">
                        <div class="close">
                            <span></span>
                        </div>
                        <header>
                            <img src="assets/img/icons/location_mini.svg" alt="" />
                            <div class="city">sacramento, us</div>
                            <div class="distance">2.3 km away</div>
                        </header>
                        <div class="map">
                            <img src="assets/img/profil/location.jpg" alt="">
                        </div>
                        <footer>
                            <a href="#">go to google maps</a>
                        </footer>
                    </section>
                </div>

            </section>
    </body>
    <script src="app.js"></script>
</html>
